<web-app>
    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>myProject.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>myProject.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/servletRegister</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreateIdea</servlet-name>
        <servlet-class>myProject.IdeaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateIdea</servlet-name>
        <url-pattern>/createIdea</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DisplayUsers</servlet-name>
        <servlet-class>myProject.DisplayUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayUsers</servlet-name>
        <url-pattern>/displayUsers</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>myProject.GroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>

</web-app>